<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js">
<!--<![endif]-->
<head>
    <title>Icon - Admin</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700">

    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/ui-lightness/jquery-ui-1.9.2.custom.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- App CSS -->
    <link type="text/css" rel="stylesheet" href="assets/css/target-admin.css">
    <link type="text/css" rel="stylesheet" href="assets/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="account-bg">
<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-cogs"></i> </button>
            <a class="navbar-brand navbar-brand-image" href="/"> <img src="./assets/img/logo.png" alt="Site Logo"> </a>
        </div>
        <!-- /.navbar-header -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li> Content Ingestion Admin </li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navbar -->
<hr class="account-header-divider">
<div class="account-wrapper">
    <div class="account-body">
        <h3 class="account-body-title">Forget Password</h3>
        <label style="color: red;"><%= error %></label>
        <label style="color: green;"><%= msg %></label>
        <form class="form account-form" method="post" action="/accountforgot">
            <div class="form-group">
                <label for="forgot-email" class="placeholder-hidden">User Id</label>
                <input type="text" class="form-control" id="forgot-email" name="userid" placeholder="Admin User Id" tabindex="1" required>
            </div>
            <div class="form-group">
                <label for="forgot-email" class="placeholder-hidden">Email Id</label>
                <input type="text" class="form-control" id="forgot-email" name="emailid" placeholder="Admin Email Id" tabindex="1" required>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="2"> Share Password &nbsp; <i class="fa fa-refresh"></i> </button>
            </div>
            <!-- /.form-group -->
            <div class="form-group">
                <a href="/accountlogin"><i class="fa fa-angle-double-left"></i> &nbsp;Back to Login</a>
            </div>
            <!-- /.form-group -->
        </form>
    </div>
    <!-- /.account-body -->
</div>
<!-- /.account-wrapper -->
<script src="assets/scripts/jquery-1.10.1.min.js"></script>
<script src="assets/scripts/jquery-ui-1.9.2.custom.min.js"></script>
<script src="assets/scripts/bootstrap.min.js"></script>
<!--[if lt IE 9]>
<script src="assets/scripts/excanvas.compiled.js"></script>
<![endif]-->
<!-- App JS -->
<script src="assets/scripts/target-admin.js"></script>
<!-- Plugin JS -->
<script src="assets/scripts/target-account.js"></script>
</body>
</html>