<div class="account-wrapper">
    <div class="account-body">
        <h3 class="account-body-title">Change Password</h3>

        <span data-ng-show="errorvisible" style="color: red;">{{error}}
        </span>
        <span data-ng-show="successvisible" style="color: green;">{{success}}
        </span>
        <form class="form account-form" role="form" data-ng-submit="SaveChangedPassword()">
            <div class="form-group">
                <label for="login-username" class="placeholder-hidden">Old Password</label>
                <div class="col-sm-11">
                    <input type="{{passwordtype}}" class="form-control" id="oldpassword" placeholder="Old password" data-ng-model="OldPassword" required tabindex="1">
                </div>
                <a href="" id="oldPassword_eye" data-ng-click="Passwordvisible(1)"><span class="fa fa-eye" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;"></span></a>
            </div>

            <!-- /.form-group -->
            <div class="form-group">
                <label for="login-password" class="placeholder-hidden">New Password</label>
                <div class="col-sm-11">
                    <input type="{{newpasswordtype}}" class="form-control" id="newpassword" placeholder="New password" data-ng-model="NewPassword" required tabindex="2">
                </div>
                <a href="" id="newPassword_eye" data-ng-click="Passwordvisible(2)"><span class="fa fa-eye" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;"></span></a>
            </div>

            <div class="form-group">
                <label for="login-password" class="placeholder-hidden">Confirm Password</label>
                <div class="col-sm-11">
                    <input type="{{confirmpasswordtype}}" class="form-control" id="confirmpassword" placeholder="Confirm password" data-ng-model="ConfirmPassword" required tabindex="2">
                </div>
                <a href="" id="confirmPassword_eye" data-ng-click="Passwordvisible(3)"><span class="fa fa-eye" style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 15px;"></span></a>
            </div>

            <!-- /.form-group -->
            <!-- /.form-group -->
            <div class="form-group">
                <div class="col-sm-offset-4">
                    <button type="submit" class="btn btn-primary" tabindex="4">Submit </button>
                    <button type="reset" class="btn btn-default" tabindex="4" id="reset" data-ng-click="Resetclick()">Reset</button>

                </div>
            </div>
            <!-- /.form-group -->
        </form>
    </div>
    <!-- /.account-body -->
    <!-- /.account-footer -->
</div>
