<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">Add/Update Content List</h2>
            </div>
            <!-- /.content-header -->
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}
            </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}
            </span>
            <form method="post" class="form-horizontal" role="form" name="packForm" data-ng-submit="submitForm(packForm.$valid)" novalidate>
                <div class="row container">
                    <!-- <div class="col-md-6"> -->
                        <div class="form-group">
                            <label for="pack" class="col-sm-4 control-label">Select Pack : </label>
                            <div class="col-sm-5">
                                <span class="ui-select">
                                    <select name="pack" class="form-control" data-ng-model="selectedPack" data-ng-options="item.pk_id as item.pk_name for item in StorePacks" data-ng-change="packChange()" required>
                                        <option value="">-- Select Pack  --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="packForm.$submitted || packForm.packtype.$dirty">
                                    <span ng-show="packForm.packtype.$error.required">Please Select Content Display option.</span>
                                </span>
                            </div>
                        </div>
                    <!-- </div> -->
                    <!-- <div class="col-md-6"> -->
                    <div class="col-md-2"></div>
                        <div class="form-group table-responsive col-md-9">
                            <table ng-show="isAdded" id="eventOperators" class="table table-striped table-bordered table-checkable">
                                <thead>
                                <tr>
                                    <th><u><small>Pack Name:</small></u>&nbsp;&nbsp;{{pack_added_name}}<br/>
                                        <u><small>Pack Type:</small></u>&nbsp;&nbsp;{{type_added_name}}</th>
                                    
                                    <th><u>Added On:</u> <br/>{{pack_added_date | date:'dd-MMM-yyyy'}}</th>
                                    <th><u>Last Updated On:</u> <br/>{{pack_modified_date | date:'dd-MMM-yyyy'}}</th>
                                    <th><u>Active Packages :</u> <br/><i class="fa fa-spinner padding-left-25pc"></i></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="i in pack_grid">
                                    <td>{{i.cd_name}}</td>
                                    <td><small><u><i>Content Count :</i></u></small><br/><i class="fa fa-spinner padding-left-25pc"></i></td>
                                    <td><small><u><i>List Last updated on :</i></u></small><br/><i class="fa fa-spinner padding-left-25pc"></i></td>
                                    <td>
                                        <div class="row">
                                                <div ng-hide="i.pct_is_active == 0" class="col-md-3 col-xs-4"><a href="" data-ng-click="EditPack(i.pct_id)" title="Edit"><i class="fa fa-edit" title="Edit"></i></a></div>
                                                <div class="col-md-3 col-xs-4" data-ng-if="i.pct_is_active == 1" class="text-right"><a href="" title="Click To Block" data-ng-click="BlockUnBlockContentType(i.pk_id,i.cd_id,i.pct_is_active)"><i class="fa fa-ban text-right red" style="color: green;"></i></a></div>
                                                <div class="col-md-3 col-xs-4" 
                                                data-ng-if="i.pct_is_active == 0" class="text-right"><a href="" title="Click To UnBlock" data-ng-click="BlockUnBlockContentType(i.pk_id,i.cd_id,i.pct_is_active)"><i class="fa fa-ban text-right green" style="color: red;"></i></a></div>
                                                <div class="col-md-3 col-xs-4"><a href="" data-ng-click="showArrangeList(i.pct_id)"><i class="fa fa-eye" title="View List"></i></a></div>

                                            </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                             <!--   <div class="row" ng-show="Stores.length > pageLimit">
                                    <div class="col-xs-6 col-sm-6">
                                        <button type="button" class="btn btn-primary btn-w-xs" title="Previous" data-ng-disabled="currentPageNo == 0" data-ng-click="currentPageNo=currentPageNo-1">Previous</button>

                                    </div>
                                    <div class="col-xs-6 col-sm-6 text-right">
                                        <button type="button" class="btn btn-primary btn-w-xs" title="Next" data-ng-disabled="currentPageNo >= Stores.length/pageLimit - 1" data-ng-click="currentPageNo=currentPageNo+1">Next</button>
                                    </div>
                              </div> -->

                                
                        </div>
                    <!-- </div> -->
                </div>
            </form>
        </div>
    </div>
</div>
