<style type="text/css">
    fieldset.searchGroup {
        border: 1px solid #e5e5e5 !important;
        padding: 0 1.4em 1.4em 1.4em !important;
        margin: 0 0 1.5em 0 !important;
        -webkit-box-shadow:  0px 0px 0px 0px #000;
        box-shadow:  0px 0px 0px 0px #000;
    }
    legend.searchGroup{
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        border-bottom: none;
    }
</style>
<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">{{displayName}} Search Content</h2>
            </div>
            <!-- /.content-header -->
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}
            </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}
            </span>
            <form method="post" class="form-horizontal" role="form" id="searchForm" name="searchForm" data-ng-submit="submitForm(searchForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-2">
                        <input type="hidden" name="packId" class="form-control" data-ng-model="packId">
                        <input type="hidden" name="contentTypeId" class="form-control" data-ng-model="contentTypeId">
                        <input type="hidden" name="display" class="form-control" data-ng-model="display">
                        <input type="hidden" name="pctId" class="form-control" data-ng-model="pctId">
                    </div>
                    <div class="col-md-8">
                        <fieldset class="searchGroup">
                            <label>Search Content By </label>
                            <div class="form-group">
                                <label for="title" class="col-md-3 control-label">Title</label>
                                <div class="col-md-4">
                                    <input type="text" name="title" class="form-control" placeholder="Title" data-ng-model="contentTypeData['Content_Title']" >
                                </div>
                                <label for="title" class="col-md-1 control-label">Word</label>
                                <div class="col-md-4">
                                    <select name="searchWhereTitle" data-ng-options="item.cd_id as item.cd_name for item in searchWhere" class="form-control" data-ng-model="searchWhereTitle" ></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-md-3 control-label">Property Title</label>
                                <div class="col-md-4">
                                    <input type="text" name="propertyTitle" class="form-control" placeholder="Property Title" data-ng-model="contentTypeData['Property']" >
                                </div>
                                <label for="title" class="col-md-1 control-label">Word</label>
                                <div class="col-md-4">
                                    <select name="searchWherePropertyTitle" data-ng-options="item.cd_id as item.cd_name for item in searchWhere" class="form-control" data-ng-model="searchWherePropertyTitle" ></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-md-3 control-label">Keywords</label>
                                <div class="col-md-9">
                                    <input type="text" name="keywords" class="form-control" placeholder="Keywords" data-ng-model="contentTypeData['Keywords']" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-md-3 control-label">Content Ids</label>
                                <div class="col-md-9">
                                    <input type="text" name="contentIds" ng-pattern="/^[0-9,]*$/" class="form-control" placeholder="Content Ids" data-ng-model="contentTypeData['Content_Ids']">
                                    <span style="color: red" ng-show="searchForm.$submitted || searchForm.contentIds.$touched">
                                        <span ng-show="searchForm.contentIds.$error.pattern">Insert valid comma separated Content Ids.</span>
                                    </span>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group">
                        <div class="row"></div>
                         <div class="row"></div>
                        
                            <label for="title" class="col-md-3 control-label">Release Year</label>
                            <div class="col-md-9">
                                <label for="title" class="col-md-1 control-label">From</label>
                                <div class="col-md-3">
                                    <!--<input type="text" name="releaseDuration" class="form-control" placeholder="Release Duration" data-ng-model="releaseDuration" />
                                    <label for="title" class="col-md-1 control-label">Days</label>-->
                                    <select ng-options="year for year in years" name="releaseYearStart" class="form-control" ng-model="contentTypeData['property_release_year'].releaseYearStart" ng-required="contentTypeData['property_release_year'].releaseYearEnd"  >
                                         <option value="">-- Select --</option>
                                    </select>
                                    
                                </div>
                                <label class="col-md-1 control-label">To</label>
                                <div class="col-md-3">
                                    <select ng-options="year for year in years" name="releaseYearEnd" class="form-control" ng-model="contentTypeData['property_release_year'].releaseYearEnd"  ng-required="contentTypeData['property_release_year'].releaseYearStart"  start-date="{{contentTypeData['property_release_year'].releaseYearStart}}" compare-with-start-date  >
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <span style="color: red" ng-show="searchForm.$submitted || searchForm.releaseYearStart.$touched">
                                    <span ng-show="searchForm.releaseYearStart.$error.required">From Release Year is required.</span>
                                    <span ng-messages="searchForm.releaseYearStart.$error" ng-messages-include="errors-template.html"> </span>
                                </span>
                                <span style="color: red" ng-show="searchForm.$submitted || searchForm.releaseYearEnd.$dirty && searchForm.releaseYearEnd.$invalid && searchForm.releaseYearEnd.$touched">
                                    <span ng-show="searchForm.releaseYearEnd.$error.required">To Release Year is required.</span>
                                    <span ng-messages="searchForm.releaseYearEnd.$error" ng-messages-include="errors-template.html"></span>
                                </span>
                                <!-- error messages template -->
							    <script id="errors-template.html" type="text/ng-template">
									
        							<span class="form-error" style="color: red" ng-message="checkEndDate">To Release Year should be greater that From Release Year.</span>
    							</script>
                            </div>
                        </div>
                        <div class="form-group" ng-repeat="value in contentType track by $index">
                            <div ng-repeat="(key,element) in value">
                                <label class="col-sm-3 control-label">{{key}}</label>
                                <div class="col-sm-6">
                                    <select data-ng-options="item.cd_id as item.cd_name for item in {{element}}" class="form-control" data-ng-model="contentTypeData[element]" >
                                        <option value="">-- Select --</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <fieldset class="searchGroup">
                            <label>Show List for selection </label>
                            <div class="form-group">
                                <label for="title" class="col-md-2 col-xs-12 control-label" style="padding-top:0px; text-align: left">No. of Records</label>
                                <div class="col-md-2 col-xs-6">
                                    <input type="radio" name="noOfRecords" ng-value="1" ng-model="noOfRecords" required data-ng-change="setLimit(noOfRecords)" >&nbsp;<label>Limited</label>
                                    <span style="color: red" ng-show="searchForm.$submitted || searchForm.noOfRecords.$touched">
                                        <span ng-show="searchForm.noOfRecords.$error.required">No. of Records is required.</span>
                                    </span>
                                </div>
                                <div class="col-md-2 col-xs-6">
                                    <input type="text" ng-pattern="/^[0-9]*$/" name="limitCount" class="form-control" placeholder="Limit" data-ng-model="limitCount" ng-required="noOfRecords == 1">
                                    <span style="color: red" ng-show="searchForm.$submitted || searchForm.limitCount.$touched">
                                        <span ng-show="searchForm.limitCount.$error.required">Limit is required.</span>
                                        <span ng-show="searchForm.limitCount.$error.pattern">Insert valid limit for No. of Records.</span>
                                    </span>
                                </div>
                                <div class="col-md-1"><label> / </label></div>
                                <div class="col-md-3 col-xs-12">
                                    <input type="radio" name="noOfRecords" ng-value="2" ng-model="noOfRecords" required data-ng-change="setLimit(noOfRecords)" >&nbsp;<label>Unlimited</label>
                                    <span style="color: red" ng-show="searchForm.$submitted || searchForm.noOfRecords.$touched">
                                        <span ng-show="searchForm.noOfRecords.$error.required">No. of Records is required.</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" style="color: red" ng-show="searchForm.$submitted">
                                <span ng-show="searchForm.noOfRecords.$error.required">Please Select option for No. of Records.</span>
                            </div>
                            <div class="form-group" ng-show="displayName != 'Manual'">
                                <div class="col-md-3 col-xs-12">
                                    <input type="radio" name="ruleType" value="1" ng-model="ruleType" >&nbsp;
                                    <label class="control-label">Automic Pack Creation</label>
                                </div>
                                <div class="col-md-9 col-xs-12" ng-show="ruleType == 1">
                                    <label for="title" class="col-md-5 col-xs-6 control-label">Publish list post every</label>
                                    <div class="col-md-6 col-xs-5">
                                        <input type="text" name="nextRuleDuration" class="form-control" placeholder="Days" data-ng-model="nextRuleDuration">
                                    </div>
                                    <label for="title" class="col-md-1 col-xs-1 control-label">Days</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <input type="radio" name="ruleType" value="2" ng-model="ruleType" >&nbsp;
                                    <label class="control-label">Manual Pack Creation</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-md-1 control-label">Action</label>
                                <div class="col-md-10">
                                    <input type="radio" name="action" value="1" ng-model="action" required>&nbsp;<label class="control-label">Add Selected Content</label>
                               <br />
                                    <input type="radio" name="action" value="2" ng-model="action" required>&nbsp;<label class="control-label">Remove Unwanted Content</label>
                                </div>
                            </div>
                            <div class="form-group" style="color: red" ng-show="searchForm.$submitted">
                                <span ng-show="searchForm.action.$error.required">Please Select option for Action.</span>
                            </div>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7">
                                <button type="submit" ng-click="submitted=true" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                                <button type="reset" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">&nbsp;</div>
                </div>
            </form>
        </div>
    </div>
</div>
