<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">{{PageTitle}}  Pack</h2>
            </div>
            <!-- /.content-header -->
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="errorvisible" style="color: red;">{{error}}
            </span>
            <span class="col-sm-offset-3 col-sm-9" data-ng-show="successvisible" style="color: green;">{{success}}
            </span>
            <form method="post" class="form-horizontal" role="form" name="packForm" data-ng-submit="submitForm(packForm.$valid)" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span class="asterisk">*</span>Pack Name</label>
                            <div class="col-sm-9">
                                <input type="text" name="packname" class="form-control" placeholder="Pack Name" data-ng-model="packname" required>
                                <input type="hidden" name="ld_Id" class="form-control" data-ng-model="PlanId">
                                <span style="color: red" ng-show="packForm.$submitted || packForm.packname.$dirty">
                                    <span ng-show="packForm.packname.$error.required">Pack Name is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="packdesc" class="col-sm-3 control-label"><span class="asterisk">*</span>Description</label>
                            <div class="col-sm-9">
                                <textarea name="packdesc" class="form-control" required placeholder="Pack Description" data-ng-model="packdesc"></textarea>
                                <span style="color: red" ng-show="packForm.$submitted || packForm.packdesc.$dirty">
                                    <span ng-show="packForm.packdesc.$error.required">Pack Description is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="packtype" class="col-sm-3 control-label"><span class="asterisk">*</span>Content Display Option</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select name="packtype" class="form-control" data-ng-model="packtype" data-ng-options="item.cd_id as item.cd_name for item in PackTypes" data-ng-change="packTypeChange()" required>
                                        <option value="">-- Select Pack Type --</option>
                                    </select>
                                </span>
                                <span style="color: red" ng-show="packForm.$submitted || packForm.packtype.$dirty">
                                    <span ng-show="packForm.packtype.$error.required">Please Select Content Display option.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contentType" class="col-sm-3 control-label"><span class="asterisk">*</span>Select Content Type</label>
                            <div class="col-sm-9">
                                <span class="ui-select">
                                    <select name="contentType" class="form-control" multiple data-ng-model="selectedContentTypes" data-ng-options="item.cd_id as item.cd_name for item in ContentTypes" required>
                                        <!--<option value="">-- Select Stores --</option>-->
                                    </select>
                                </span>
                                <span style="color: red" ng-show="packForm.$submitted || packForm.contentType.$dirty">
                                    <span ng-show="packForm.contentType.$error.required">Please Select Content Type.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-7">
                                <button type="submit" class="btn btn-primary btn-w-md" title="Save">Submit</button>
                                <button type="reset" ng-hide="edit_mode" class="btn btn-default btn-w-md" title="Reset" data-ng-click="resetForm()">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group table-responsive">
                            <table ng-show="isAdded" id="eventOperators" class="table table-striped table-bordered table-checkable">
                                <thead>
                                <tr>
                                    <th><u><small>Pack Name:</small></u>&nbsp;&nbsp;{{pack_added_name}}<br/>
                                        <u><small>Pack Type:</small></u>&nbsp;&nbsp;{{type_added_name}}</th>
                                    <th><u>Added On:</u> <br/> {{pack_added_date | date:'dd-MMM-yyyy'}}</th>
                                    <th><u>Last Updated On:</u> <br/>{{pack_modified_date | date:'dd-MMM-yyyy'}}</th>
                                    <th><u>Active Packages :</u> <br/><i class="fa fa-spinner padding-left-25pc"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="i in pack_grid">
                                    <td>{{i.cd_name}}</td>
                                    <td><small><u><i>Content Count :</i></u></small><br/><i class="fa fa-spinner padding-left-25pc"></i></td>
                                    <td><small><u><i>List Last updated on :</i></u></small><br/><i class="fa fa-spinner padding-left-25pc"></i></td>
                                    <td>
                                        <div class="row">
                                                <div class="col-md-3 col-xs-4"><a href="" data-ng-click="EditPack(i.pct_id)" title="Edit"><i class="fa fa-edit" title="Edit"></i></a></div>
                                                 <div class="col-md-3 col-xs-4" data-ng-if="i.pct_is_active == 1" class="text-right"><a href="" title="Click To Block" data-ng-click="BlockUnBlockContentType(i.pk_id,i.cd_id,i.pct_is_active)"><i class="fa fa-ban text-right red" style="color: green;"></i></a></div>
                                                <div class="col-md-3 col-xs-4" 
                                                data-ng-if="i.pct_is_active == 0" class="text-right"><a href="" title="Click To UnBlock" data-ng-click="BlockUnBlockContentType(i.pk_id,i.cd_id,i.pct_is_active)"><i class="fa fa-ban text-right green" style="color: red;"></i></a></div>
                                                <div class="col-md-3 col-xs-4"><a href="" data-ng-click="DeletePlan(plan.planid,plan.contenttype)"><i class="fa fa-eye" title="Block"></i></a></div>
                                            </div>
                                        
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
