<div class="container">
    <div class="content">
        <div class="content-container">
            <div class="content-header">
                <h2 class="content-header-title">Packs List</h2>
            </div>
            <!-- /.content-header -->
            <div class="row">
            	<h5 class="text-center"><u>Pack Name Starts with :</u>
                        <a style="padding-left:7px;cursor:pointer" id="src_{{alpha}}" ng-click="searchStartsWith(alpha)" ng-repeat="alpha in alphabets track by $index">
                            {{alpha}}
                        </a>
                        <br/><br/>
                        <div ng-show="search_title.length > 0 && btn_clicked">
                            Showing Results For : "{{tag_search_title}}" <span ng-show="StartDate != '' && EndDate != '' && btn_clicked"> &nbsp; {{tag_StartDate | date:'dd-MMM-yyyy' }} - {{tag_EndDate | date:'dd-MMM-yyyy' }}  

                        </div> 
                         <div ng-show="StartDate != '' && EndDate.length != '' && search_title.length == 0 && btn_clicked">
                            Showing Results From : {{tag_StartDate | date:'dd-MMM-yyyy'}} - {{tag_EndDate | date:'dd-MMM-yyyy'}} 
                        </div> 
                </h5>
                <div class="col-md-12 col-xs-12">
                    <div class="table-responsive">
                        <div id="user-exportable">
                            <span class="col-md-offset-3 col-md-9 col-xs-12" data-ng-show="errorvisible" style="color: red;">{{error}}
                            </span>
                            <span class="col-md-offset-3 col-md-9 col-xs-12" data-ng-show="successvisible" style="color: green;">{{success}}
                            </span>
                            <table id="user-signups" class="table table-striped table-bordered table-checkable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Pack Id</th>
                                        <th class="text-center">Pack Name</th>
                                        <th class="text-center">Content Types</th>
                                        <th class="text-center">Created / Updated By</th>
                                        <th class="text-center">Added /Updated On</th>
                                        <th class="text-center">Edit Pack</th>
                                    </tr>
                                </thead>
                                <tbody dir-paginate="item in packsList | itemsPerPage: 8">
                                    <tr>
                                        <td class="col-md-1 col-xs-1 text-center">{{item.pk_id}}</td>
                                        <td class="col-md-3 col-xs-3">{{item.pk_name}}</td>
                                       <!-- <td class="col-md-2 col-xs-2">
                                            {{item.types.split(",").sort().reverse().join(",")}}
                                        </td>  -->
                                        <td class="col-md-2 col-xs-2">
                                            <span style="color:blue">{{item.status1}}</span>
                                            <span ng-if="item.status1.length > 0 && item.status0.length > 0">,</span>
                                            <span style="color:red">{{item.status0}}</span>
                                        </td> 
                                         
                                        <td class="col-md-3 col-xs-3">{{item.pk_created_by}}</td>
                                        <td class="col-md-2 col-xs-2">{{item.pk_modified_on | date:'dd-MMM-yyyy'}}</td>
                                        <td class="col-md-3 col-xs-3">
                                                <a href="#/edit-pack/{{item.pk_id}}">Edit Pack</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="col-xs-4 col-md-4">
                        <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Previous" data-ng-disabled="listcurrentPage == 0" data-ng-click="listcurrentPage=listcurrentPage-1">Previous</button> -->
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Download" data-ng-click="ExportPlan()">Download in excel</button> -->
                            <dir-pagination-controls></dir-pagination-controls>
                    </div>
                    <div class="col-xs-4 col-md-4 text-right">
                        <!-- <button type="button" class="btn btn-primary btn-w-xs" title="Next" data-ng-disabled="listcurrentPage >= packsList.length/listpageSize - 1" data-ng-click="listcurrentPage=listcurrentPage+1">Next</button> -->
                    </div>
                </div>
            </div>
			<br/><br/>
                   <div class="portlet">
                        <div class="portlet-header">
                            <h3><i class="fa fa-search"></i>Search a Pack</h3>
                        </div>
                        <div class="portlet-content">
                                <div class="form-group">
                                    <div class="row">
                                        <label for="search_title" class="col-md-3 control-label">Text in Title:</label>
                                        <div class="col-md-4">
                                            <input type="text" name="search_title" ng-model="search_title"class="form-control" placeholder="Enter text" >
                                        </div>
                                    </div>
                                    <br/><br/>
                                    <div class="row">
                                        <label for="caption" class="col-md-3 control-label">
                                            Created/Updated between:
                                        </label>
                                            <div class="col-sm-3">
                                                <div class="input-group date">
                                                    <input type="text" name="start_date" class="form-control" bk-auto-focus datepicker-popup="yyyy-MM-dd" data-ng-model="StartDate" placeholder="Start date" data-ng-disabled="IsDisable" data-ng-click="openDatepicker($event)" data-is-open="open1" required />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" data-ng-click="openDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                        </div>
                                        <div class="col-sm-3">
                                                <div class="input-group date">
                                                    <input type="text" class="form-control" bk-auto-focus datepicker-popup="yyyy-MM-dd" data-ng-model="EndDate" placeholder="End date" data-ng-click="openEndDatepicker($event)" data-ng-disabled="IsDisable" data-is-open="open2" required />
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" data-ng-click="openEndDatepicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                    </span>
                                                </div>
                                        </div>
                                </div>
                                <div >
                                     
                                </div>
                        </div>
                        <br/><br/>
                        <div class="col-md-12 text-center">
                            <button type="button" ng-click="searchByTitle()" class="btn btn-default btn-w-xs" >Search</button>
                        </div>
                    </div>

        </div>
    </div>
</div>
